.flowstep .step-no, .flowstep .step-sub-box .step-sub {
    background: url("http://img04.taobaocdn.com/tps/i4/T1ze0ZXA0aXXcVlxZa-734-340.png") no-repeat scroll 50% -102px rgba(0, 0, 0, 0);
}
.flowstep {
    margin: 0 auto;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 525px;
}
.flowstep ol {
    overflow: hidden;
}
.flowstep li {
    float: left;
    text-align: center;
}
.flowstep .step-name {
    color: #888888;
    font-weight: 700;
    padding: 3px 0;
}
.flowstep .step-no {
    color: #FFFFFF;
    font-family: 'arial black';
    font-size: 18px;
    height: 34px;
    line-height: 34px;
}
.flowstep .step-last .step-no {
    background-position: 50% -136px;
}
.flowstep .step-time {
    color: #999999;
    padding: 8px 0;
}
.flowstep .step-time .time-first, .flowstep .step-time .time-last {
    display: inline-block;
}
.flowstep .step-time .time-first {
    padding-right: 25px;
}
.flowstep .step-time .time-last {
    padding-left: 25px;
}
.flowstep .step-cur .step-name {
    color: #009349;
}
.flowstep .step-cur .step-no {
    background-position: 50% 0;
}
.flowstep .step-first .step-cur .step-no {
    background-position: 50% -34px;
}
.flowstep .step-last .step-cur .step-no {
    background-position: 50% -68px;
}
.flowstep .step-done .step-no {
    background-position: 50% -170px;
}
.flowstep .step-first .step-done .step-no {
    background-position: 50% -204px;
}
.flowstep .step-sub {
    height: 34px;
    margin: 0 auto;
    position: relative;
    width: 120px;
}
.flowstep .step-sub-box .step-sub-done {
    background-position: 50% -238px;
}
.flowstep .step-sub-box .step-sub-none {
    background-position: 50% -272px;
}
.flowstep .step-sub-box .step-sub-half {
    background-position: 50% -306px;
}
.flowstep .step-sub .sub-first, .flowstep .step-sub .sub-last {
    color: #888888;
    font-weight: 700;
    position: absolute;
    top: 11px;
    white-space: nowrap;
}
.flowstep .step-sub .sub-first {
    right: 120px;
    text-align: right;
}
.flowstep .step-sub .sub-last {
    left: 100px;
}
.flowstep-5 {
    margin-left: 0px;
    padding-left: 0px;
    width: 525px;
}
.flowstep-5 li {
    width: 128px;
}
.flowstep-4 {
    margin-left: -63px;
    width: 1120px;
}
.flowstep-4 li {
    width: 280px;
}
