
.ui_no_scroll {
    margin-right: 17px;
    overflow: hidden;
}
@media (min-width: 1160px) {
    .ui_no_scroll .restaurant-cart {
        margin-right: -571.5px;
    }
}
.restaurant-menu {
    float: left;
    margin-right: 10px;
    width: 710px;
}
.restaurant-aside {
    float: right;
    width: 240px;
}
.restaurant-information {
    float: right;
    width: 280px;
}
.restaurant-feedback {
    background: none repeat scroll 0 0 #FFFFFF;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
    float: left;
    margin-right: 10px;
    width: 670px;
}
.rst-breadcrumb {
    margin-bottom: 10px;
}
.rst-breadcrumb > .breadcrumb-item {
    color: #FFFFFF;
}
.rst-breadcrumb > .breadcrumb-item:hover {
    text-decoration: underline;
}
.rst-logo {
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    float: left;
    height: 42px;
    margin: 9px 15px 0 9px;
    overflow: hidden;
    padding: 5px;
    position: relative;
    width: 42px;
}
.rst-logo > img {
    display: block;
    height: 42px;
    width: 42px;
}
.rst-aside-info > .rst-logo {
    margin-left: 0;
}
.rst-logo-premium {
    border: 3px solid #FFFFFF;
    border-radius: 50% 50% 50% 50%;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    float: left;
    height: 64px;
    margin-right: 15px;
    overflow: hidden;
    width: 64px;
}
.rst-logo-premium > img {
    height: 64px;
    width: 64px;
}
.lt-ie9 .rst-logo {
    border: 1px solid #CCCCCC;
}
.rst-basic-info {
    float: left;
}
.rst-header-info > .rst-basic-info {
    width: 263px;
}
.rst-aside-info > .rst-basic-info {
    width: 64%;
}
.rst-name {
    color: #333333;
    display: inline-block;
    font-size: 20px;
    font-weight: bold;
    margin: 15px 0 0;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: bottom;
    white-space: nowrap;
}
.rst-name:hover {
    color: #0088CC;
    text-decoration: underline;
}
.rst-name.premium {
    margin: 10px 0 6px;
}
.rst-misc {
    margin: 5px 0 0;
}
.rst-misc:after {
    clear: both;
    content: "";
    display: table;
}
.rst-rating {
    color: #F26432;
    float: left;
    font-size: 16px;
    margin: -1px 5px 0 0;
}
.icon-rst-rating {
    background: url("../../img/rst-sprites.png?v=3") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    height: 20px;
    width: 100px;
}
.icon-rst-rating.s0 {
    background-position: -100px 0;
}
.icon-rst-rating.s1 {
    background-position: -80px -20px;
}
.icon-rst-rating.s2 {
    background-position: -80px 0;
}
.icon-rst-rating.s3 {
    background-position: -60px -20px;
}
.icon-rst-rating.s4 {
    background-position: -60px 0;
}
.icon-rst-rating.s5 {
    background-position: -40px -20px;
}
.icon-rst-rating.s6 {
    background-position: -40px 0;
}
.icon-rst-rating.s7 {
    background-position: -20px -20px;
}
.icon-rst-rating.s8 {
    background-position: -20px 0;
}
.icon-rst-rating.s9 {
    background-position: 0 -20px;
}
.rst-phone-mark {
    color: #44A725;
    float: left;
    margin: 3px 5px 0 0;
}
.rst-flavor {
    color: #666666;
    float: left;
}
.rst-header-info .rst-flavor {
    max-width: 130px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.rst-status {
    background: none repeat scroll 0 0 #B8B8B8;
    color: #FFFFFF;
    float: left;
    font-size: 12px;
    line-height: 1em;
    padding: 4px 5px;
}
.rst-status.bookable {
    background: none repeat scroll 0 0 #5BB06C;
}
.rst-detail-list {
    border-top: 1px dotted #C0C0C0;
    padding-left: 18px;
    padding-top: 9px;
}
.rst-detail-list > li {
    line-height: 2em;
}
.rst-info-glyph {
    color: #999999;
    display: inline-block;
    font-size: 13px;
    margin: 0 5px 0 -18px;
    vertical-align: text-top;
}
.restaurant-board {
    border-top: 3px solid #E0655D;
    font-size: 14px;
}
.rst-notice-board, .rst-deliver-detail {
    border-bottom: 1px solid #E1E1E1;
    margin: 0;
    padding: 16px 18px 14px;
}
.rst-notice-board {
    color: #E16527;
}
.rst-deliver-detail {
    color: #2888D1;
}
.icon-rst-notice {
    background: url("../../img/rst-sprites.png?v=3") no-repeat scroll -80px -80px rgba(0, 0, 0, 0);
    height: 22px;
    position: relative;
    width: 30px;
}
.icon-rst-deliver {
    background: url("../../img/rst-sprites.png?v=3") no-repeat scroll -120px -80px rgba(0, 0, 0, 0);
    height: 16px;
    margin-right: 10px;
    width: 20px;
}
.rst-badge-list {
    padding: 6px 18px;
}
.rst-badge-item {
    color: #666666;
    line-height: 22px;
    padding: 8px 10px 8px 25px;
}
.rst-badge-item + .rst-badge-item {
    border-top: 1px dotted #C0C0C0;
}
.rst-badge-item > .icon-rst-badge {
    margin: 0 8px 0 -23px;
}
.rst-map-img {
    display: block;
}
.rating-point {
    float: left;
    margin-right: 20px;
    width: 75px;
}
.rating-point > .point {
    color: #FF6C0F;
    display: block;
    font: 300 52px/1em "Helvetica Neue",arial,sans-serif;
}
.rating-point > .icon-d-star {
    display: block;
    margin: 5px 0;
}
.rating-point > .comment {
    color: #999999;
    display: block;
    font-size: 13px;
    margin-top: 18px;
    text-align: center;
}
.rating-point > a.comment {
    color: #0088CC;
}
.rating-point > a.comment:hover {
    text-decoration: underline;
}
.lt-ie9 .rating-point {
    margin-right: 15px;
}
.rating-diagram {
    float: left;
    width: 245px;
}
.rating-diagram > .diagram-item {
    font-size: 12px;
    line-height: 1.5em;
}
.rating-diagram > .diagram-item > a {
    color: #666666;
}
.rating-diagram .icon-star {
    background: url("../../img/rst-sprites.png?v=3") no-repeat scroll 0 -70px rgba(0, 0, 0, 0);
    height: 10px;
    vertical-align: baseline;
    width: 55px;
}
.rating-diagram .icon-star.s1 {
    background-position: -44px -70px;
}
.rating-diagram .icon-star.s2 {
    background-position: -33px -70px;
}
.rating-diagram .icon-star.s3 {
    background-position: -22px -70px;
}
.rating-diagram .icon-star.s4 {
    background-position: -11px -70px;
}
.rating-diagram .bar {
    background: none repeat scroll 0 0 #FF924A;
    display: inline-block;
    height: 10px;
    margin: 0 5px;
}
.rst-drawer-rating > .rating-diagram {
    width: 190px;
}
.red {
    color: #DF412C;
}
.rst-animate-tip {
    background-color: #2888D1;
    border-radius: 10px 10px 10px 10px;
    color: #FFFFFF;
    font-size: 12px;
    height: 20px;
    line-height: 20px;
    padding: 0 6px;
    position: fixed;
    z-index: 20;
}
.icon-rst-badge {
    background: url("/forward/img/restaurant/rst-badges.gif") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    height: 15px;
    width: 15px;
}
.icon-rst-badge.new-restaurant {
    background-position: 0 0;
}
.icon-rst-badge.new-user-discount {
    background-position: 0 -20px;
}
.icon-rst-badge.extra-discount {
    background-position: 0 -40px;
}
.icon-rst-badge.coupon {
    background-position: 0 -60px;
}
.icon-rst-badge.half-price {
    background-position: 0 -80px;
}
.icon-rst-badge.recoup {
    background-position: 0 -100px;
}
.icon-rst-badge.invoice {
    background-position: 0 -120px;
}
.icon-rst-badge.deliver-fee {
    background-position: 0 -140px;
}
.icon-rst-badge.online-payment {
    background-position: 0 -160px;
}
.icon-rst-badge.third-party {
    background-position: 0 -180px;
}
.icon-rst-badge.featured {
    background-position: 0 -200px;
    width: 27px;
}
.icon-rst-badge.spicy {
    background-position: 0 -220px;
}
.icon-rst-badge.new-dish {
    background-position: 0 -240px;
}
.icon-rst-badge.garnish {
    background-position: 0 -260px;
}
img.icon-rst-badge {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
}
.activity-badge {
    vertical-align: text-bottom;
}
.dish-favor {
    background-color: #F8F8F8;
    background-image: linear-gradient(to bottom, #FFFFFF, #F1F1F1);
    border: 1px solid #AAAAAA;
    border-radius: 2px 2px 2px 2px;
    color: #AAAAAA;
    display: none;
    font: 12px/20px "eleme";
    height: 18px;
    position: absolute;
    text-align: center;
    width: 18px;
}
.dish-favor:hover {
    color: #EC4040;
}
.dish-favor.ui_favored {
    color: #EC4040;
    display: block !important;
}
.rst-clear-cart {
    background: none repeat scroll 0 0 #FFFFFF;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
    padding: 20px;
    position: absolute;
    right: 0;
    top: 25px;
    width: 220px;
    z-index: 2;
}
.rst-clear-cart > .btn-wrapper {
    margin: 15px 0 0;
    text-align: right;
}
.rst-clear-cart .ui-btn {
    padding: 5px 10px;
}
.lt-ie9 .rst-clear-cart {
    border: 1px solid #CCCCCC;
    top: 23px;
}
.rst-tab-nav {
    border-bottom: 1px solid #DFDFDF;
    box-shadow: 0 2px 0 #F5F5F5;
    padding: 0 20px;
}
.rst-tab-sub-placeholder {
    height: 34px;
    margin-top: 23px;
    width: 100%;
}
.rst-tab-sub-wrapper {
    background: none repeat scroll 0 0 #FFFFFF;
    position: relative;
    width: 670px;
}
.rst-tab-sub-wrapper.ui_fixed {
    position: fixed;
    top: 0;
}
.rst-tab-sub-nav {
    border-bottom: 2px solid #DFDFDF;
}
.rst-tab-sub-nav > .rst-tab-ui {
    font-size: 14px;
    margin-left: 40px;
    padding: 9px 0;
}
.rst-tab-ui {
    color: #666666;
    display: inline-block;
    font-size: 18px;
    line-height: 1em;
    margin-bottom: -2px;
    padding: 14px 30px 10px;
    text-align: center;
}
.rst-tab-ui.ui_active {
    border-bottom: 2px solid #3885E2;
    color: #333333;
}
.rst-tab-ui.patch-comment {
    margin-left: 30px;
}
.rst-feedback-pager {
    margin: 0;
    padding: 10px;
}
.rst-feedback-pager > span.pager-item {
    cursor: default;
}
.rst-feedback-pager > .pager-item {
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 2px 2px 2px 2px;
    color: #999999;
    display: inline-block;
    line-height: 18px;
    padding: 0 6px;
    vertical-align: middle;
}
.rst-feedback-pager > .pager-item.current {
    background: none repeat scroll 0 0 #AAAAAA;
    color: #FFFFFF;
}
.rst-feedback-pager > .pager-item.flip {
    background-color: #F3F3F3;
    background-image: linear-gradient(to bottom, #FEFEFE, #E8E8E8);
    border-color: #B9B9B9;
    border-radius: 2px 2px 2px 2px;
    color: #8C8C8C;
    padding: 0 2px;
}
.rst-empty-info {
    color: #666666;
    font-size: 16px;
    margin: 0;
    padding: 40px 0;
    text-align: center;
}
.restaurant-header {
    background: none repeat scroll 0 0 #FFFFFF;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
    height: 100px;
    margin-bottom: 15px;
    width: 100%;
}
.restaurant-header:hover .btn-last-page {
    display: block;
}
.btn-last-page {
    -moz-box-sizing: border-box;
    border: 1px solid #D8D8D8;
    border-radius: 5px 5px 5px 5px;
    color: #888888;
    display: none;
    height: 52px;
    left: -58px;
    opacity: 0.5;
    padding: 3px 12px;
    position: absolute;
    top: 25px;
    width: 52px;
}
.btn-last-page:hover {
    opacity: 1;
}
.btn-last-page > .glyph-back {
    font-size: 26px;
}
.rst-header-toggle:hover .caret:after {
    border-top-color: #666666;
    transform: rotate(180deg);
}
.rst-header-toggle:hover .rst-header-dropdown {
    display: block;
}
.rst-header-dropdown {
    -moz-box-sizing: border-box;
    color: #666666;
    display: none;
    position: absolute;
    right: 0;
    top: 100px;
    z-index: 10;
}
.rst-header-info-wrapper {
    float: left;
    position: relative;
    width: 380px;
}
.rst-header-info-wrapper:hover {
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.4);
}
.lt-ie9 .rst-header-info-wrapper > .rst-header-info {
    border-left: 1px solid rgba(0, 0, 0, 0);
    border-right: 1px solid rgba(0, 0, 0, 0);
}
.lt-ie9 .rst-header-info-wrapper:hover > .rst-header-info {
    border-color: #CCCCCC;
}
.rst-header-info {
    -moz-box-sizing: border-box;
    background: none repeat scroll 0 0 #FFFFFF;
    height: 100px;
    padding: 15px;
    position: relative;
    z-index: 11;
}
.rst-header-info.caret:after {
    border-top-color: #C2C2C2;
    position: absolute;
    right: 15px;
    top: 32px;
}
.rst-header-info > .icon-rst-badge {
    margin: 0;
}
.rst-header-detail {
    background: none repeat scroll 0 0 #FFFFFF;
    border-radius: 0 0 3px 3px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.4);
    width: 100%;
}
.lt-ie9 .rst-header-detail {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: -moz-use-text-color #CCCCCC #CCCCCC;
    border-image: none;
    border-right: 1px solid #CCCCCC;
    border-style: none solid solid;
    border-width: medium 1px 1px;
}
.rst-header-detail-block {
    border-top: 1px solid #ECECEC;
    padding: 15px 20px;
}
.rst-header-btn {
    background-color: #FCFCFC;
    background-image: linear-gradient(to bottom, #FFFFFF, #F9F9F9);
    border: 1px solid #CDCDCD;
    border-radius: 2px 2px 2px 2px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    color: #333333;
    display: inline-block;
    font-size: 12px;
    line-height: 28px;
    margin: 8px 10px 8px 0;
    text-align: center;
    width: 80px;
}
.rst-header-btn:hover {
    background-color: #F6F6F6;
    background-image: linear-gradient(to bottom, #FFFFFF, #EEEEEE);
}
.rst-header-btn > .glyph-fav {
    color: #AAAAAA;
    margin-right: 5px;
    position: relative;
    top: -1px;
}
.rst-header-btn > .glyph-fav.on {
    color: #EC4040;
}
.rst-header-aside {
    display: none;
    float: right;
    position: relative;
}
.rst-h-a-item {
    -moz-box-sizing: border-box;
    float: left;
    height: 100px;
    padding-top: 25px;
    width: 115px;
}
.rst-h-a-block {
    border-left: 1px solid #EDEDED;
    position: relative;
}
.rst-h-a-block.no-border {
    border: medium none;
}
.rst-h-a-block.caret:after {
    border-top-color: #C2C2C2;
    bottom: -10px;
    position: absolute;
    right: 45%;
}
.rst-h-a-info {
    display: block;
    text-align: center;
}
.rst-h-a-info.value {
    color: #555555;
    font: bold 30px/1em arial,sans-serif;
    height: 30px;
}
.rst-h-a-info.unit {
    color: #777777;
    display: block;
    font-size: 12px;
}
.rst-h-a-info.open-time {
    color: #5BB06C;
}
.rst-h-a-cnt {
    background: none repeat scroll 0 0 #FFFFFF;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.4);
    margin-top: 5px;
    position: relative;
}
.rst-h-a-cnt:before {
    border-bottom: 5px solid #FFFFFF;
    border-left: 5px solid rgba(0, 0, 0, 0);
    border-right: 5px solid rgba(0, 0, 0, 0);
    content: "";
    height: 0;
    position: absolute;
    top: -5px;
    width: 0;
}
.rst-header-map {
    height: 240px;
    padding: 5px;
    width: 340px;
}
.rst-header-map:before {
    right: 166px;
}
.lt-ie9 .rst-header-map, .lt-ie9 .rst-deliver {
    border: 1px solid #CCCCCC;
}
.rst-deliver {
    padding: 15px;
    width: 210px;
}
.rst-deliver:before {
    right: 50px;
}
.rst-deliver > h4 {
    font: 14px/1.5em Arial,"Microsoft Yahei",sans-serif;
}
.rst-deliver > p {
    font-size: 12px;
    margin: 0;
}
.rst-cate-wrapper {
    padding: 0;
    position: relative;
}
.rst-cate-list {
    padding: 12px 26px;
}
.rst-cate-list:after {
    clear: both;
    content: "";
    display: table;
}
.rst-cate-list.activity {
    background: none repeat scroll 0 0 #FAF2DC;
    border-left: 3px solid #EB610D;
    margin-left: -3px;
}
.rst-cate-list.activity > .cate-item {
    width: 33.3333%;
}
.rst-cate-list > .cate-item {
    color: #777777;
    float: left;
    font-size: 12px;
    height: 30px;
    line-height: 30px;
    width: 25%;
}
.rst-cate-list .cate-name {
    font-size: 13px;
}
.rst-cate-list .cate-name:hover {
    text-decoration: underline;
}
.rst-cate-toggle {
    background: none repeat scroll 0 0 #F4F4F4;
    border-radius: 4px 4px 4px 4px;
    bottom: 15px;
    color: #888888;
    font-size: 12px;
    left: 75%;
    margin-left: -13px;
    padding: 1px 6px;
    position: absolute;
}
.rst-cate-toggle.caret:after {
    border-left-width: 4px;
    border-right-width: 4px;
    border-top: 4px solid #B2B2B2;
    margin-top: -2px;
}
.rst-cate-toggle > .less {
    display: none;
}
.rst-cate-toggle.ui_toggled.caret:after {
    border-bottom: 4px solid #B2B2B2;
    border-top: medium none;
}
.rst-cate-toggle.ui_toggled > .more {
    display: none;
}
.rst-cate-toggle.ui_toggled > .less {
    display: inline;
}
@media (min-width: 1160px) {
    .rst-cate-list {
        padding: 12px 32px;
    }
    .rst-cate-toggle {
        margin-left: -16px;
    }
}
.rst-menu-block {
    background-color: #FFFFFF;
    border-radius: 2px 2px 2px 2px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
    margin-bottom: 10px;
    position: relative;
}
.rst-menu-block:after {
    clear: both;
    content: "";
    display: table;
}
.rst-menu-title {
    -moz-box-sizing: border-box;
    background-color: #F3F3F3;
    background-image: linear-gradient(to bottom, #F9F9F9, #EEEEEE);
    border-bottom: 1px solid #BBBBBB;
    border-radius: 2px 2px 0 0;
    border-top: 1px solid #DDDDDD;
    color: #333333;
    font-size: 14px;
    height: 42px;
    line-height: 40px;
    margin: 0;
    overflow: hidden;
    padding: 0 16px;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.rst-menu-title.cate-title {
    border-top-color: #FFFFFF;
}
.rst-menu-desc {
    background: none repeat scroll 0 0 #FAF2DB;
    border: 1px solid #EED09C;
    border-radius: 2px 2px 2px 2px;
    color: #666666;
    margin: 10px 15px;
    padding: 6px 10px;
}
.rst-d-main {
    margin: 2px 0 0;
    position: relative;
    width: 100%;
}
.rst-d-main > .dish-favor {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border-color: rgba(0, 0, 0, 0);
    left: -25px;
}
.rst-d-main > .activity-badge {
    position: relative;
    top: 2px;
}
.rst-d-name {
    color: #333333;
    font-size: 14px;
    margin-right: 4px;
}
.rst-d-name:hover {
    color: #0088CC;
    text-decoration: underline;
}
.rst-d-desc {
    color: #999999;
    font-size: 12px;
    line-height: 1.4em;
    margin: 2px 0 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.rst-d-rating {
    color: #0088CC;
    display: block;
    font-size: 12px;
}
.rst-d-rating:hover {
    text-decoration: underline;
}
.rst-d-rating > .icon-d-star {
    margin-right: 4px;
}
.rst-d-sales {
    color: #777777;
    display: block;
    font-size: 12px;
}
.icon-d-star {
    background: url("../../img/rst-sprites.png?v=3") no-repeat scroll 0 -40px rgba(0, 0, 0, 0);
    height: 12px;
    vertical-align: text-top;
    width: 65px;
}
.icon-d-star.s0 {
    background-position: -65px -40px;
}
.icon-d-star.s1 {
    background-position: -52px -55px;
}
.icon-d-star.s2 {
    background-position: -52px -40px;
}
.icon-d-star.s3 {
    background-position: -39px -55px;
}
.icon-d-star.s4 {
    background-position: -39px -40px;
}
.icon-d-star.s5 {
    background-position: -26px -55px;
}
.icon-d-star.s6 {
    background-position: -26px -40px;
}
.icon-d-star.s7 {
    background-position: -13px -55px;
}
.icon-d-star.s8 {
    background-position: -13px -40px;
}
.icon-d-star.s9 {
    background-position: 0 -55px;
}
.rst-d-action > .unavailable {
    color: #555555;
    cursor: default;
    float: right;
    font-size: 14px;
    font-weight: bold;
    line-height: 1.2em;
    text-align: right;
}
.rst-d-action > .unavailable.symbol-rmb:before {
    font-size: 0.875em;
}
.rst-d-action > .unavailable > .status {
    color: #999999;
    font-size: 0.85em;
    font-weight: normal;
}
.rst-d-ordered {
    background: none repeat scroll 0 0 #2888D1;
    border-radius: 2px 2px 2px 2px;
    color: #FFFFFF;
    font-size: 12px;
    height: 16px;
    line-height: 16px;
    position: absolute;
    text-align: center;
    top: 24px;
    width: 16px;
}
.rst-d-ordered.loading {
    background-image: url("/forward/img/restaurant/loader-rst-ordered.gif?=v2");
    background-position: center center;
    background-repeat: no-repeat;
    text-indent: -9999em;
}
.rst-d-origin {
    color: #999999;
    display: block;
    font-size: 12px;
    text-align: right;
}
.rst-d-act {
    background-color: #F5F5F5;
    background-image: linear-gradient(to bottom, #F9F9F9, #F1F1F1);
    border: 1px solid #BEBEBE;
    border-radius: 2px 2px 2px 2px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.13);
    float: right;
    position: relative;
}
.rst-d-act:after {
    clear: both;
    content: "";
    display: table;
}
.rst-d-act.narrow > .rst-d-act-add {
    font-size: 13px;
    height: 22px;
    line-height: 22px;
    width: 50px;
}
.rst-d-act.narrow > .rst-d-act-toggle {
    height: 22px;
    line-height: 22px;
}
.rst-d-act.ui_open {
    background-color: #FDFFCD;
    background-image: linear-gradient(to bottom, #FEFFE2, #FDFFB8);
    border-color: #FEBF40;
}
.rst-d-act.ui_open .rst-d-act-add {
    border-right-color: #FEBF40;
}
.rst-d-act.ui_open .rst-d-act-toggle {
    background: none repeat scroll 0 0 #FFFFFF;
}
.rst-d-act.ui_open .rst-d-act-dropdown {
    display: block;
}
.rst-d-act-add {
    border-right: 1px solid #BEBEBE;
    color: #555555;
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
    height: 26px;
    line-height: 26px;
    text-align: center;
    vertical-align: middle;
    width: 60px;
}
.rst-d-act-add.symbol-rmb:before {
    font-size: 0.875em;
}
.rst-d-act-add:active {
    background-color: #FDFFCD;
    background-image: linear-gradient(to top, #FEFFE2, #FDFFB8);
}
.rst-d-act-toggle {
    display: inline-block;
    height: 26px;
    line-height: 26px;
    vertical-align: middle;
}
.rst-d-act-toggle.caret:after {
    border-left-width: 3px;
    border-right-width: 3px;
    border-top: 4px solid #AAAAAA;
    margin: 0 3px;
}
.rst-d-act-dropdown {
    background: none repeat scroll 0 0 #F9F9F9;
    border: 1px solid #FEBF40;
    border-radius: 2px 0 2px 2px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    display: none;
    position: absolute;
    right: -1px;
    width: 145px;
    z-index: 2;
}
.rst-d-act-dropdown:before {
    border-top: 3px solid #FFFFFF;
    content: "";
    height: 0;
    position: absolute;
    right: 0;
    top: -2px;
    width: 12px;
}
.rst-d-act-dropdown > .helper {
    background: none repeat scroll 0 0 #FFFFFF;
    color: #999999;
    display: block;
    font-size: 12px;
    padding: 3px 10px;
}
.rst-d-act-dropdown > a {
    border-top: 1px solid #E8E8E8;
    color: #333333;
    display: block;
    font-size: 14px;
    padding: 5px 10px;
}
.rst-d-act-dropdown > a:hover {
    background: none repeat scroll 0 0 #F0F0F0;
}
.rst-dish-item {
    -moz-box-sizing: border-box;
    display: table;
    height: 65px;
    padding: 0 30px 0 36px;
    position: relative;
    table-layout: fixed;
    width: 100%;
}
.rst-dish-item:hover, .rst-dish-item.hover {
    background-color: #F1FAFC;
}
.rst-dish-item:hover .dish-favor, .rst-dish-item.hover .dish-favor {
    display: block;
}
.rst-dish-item:hover .rst-d-act, .rst-dish-item.hover .rst-d-act {
    background-color: #FDFFCD;
    background-image: linear-gradient(to bottom, #FEFFE2, #FDFFB8);
    border-color: #FEBF40;
}
.rst-dish-item:hover .rst-d-act .rst-d-act-add, .rst-dish-item.hover .rst-d-act .rst-d-act-add {
    border-right-color: #FEBF40;
}
.rst-dish-item + .rst-dish-item {
    border-top: 1px dotted #D3D3D3;
}
.rst-dish-item > .rst-d-info, .rst-dish-item .rst-d-status, .rst-dish-item .rst-d-action {
    display: table-cell;
    vertical-align: middle;
}
.rst-dish-item > .rst-d-info {
    width: 55.6%;
}
.rst-dish-item > .rst-d-action {
    padding-right: 10%;
    width: 28.6%;
}
.rst-dish-item > .rst-d-action:after {
    clear: both;
    content: "";
    display: table;
}
.rst-dish-item > .rst-d-status {
    width: 15.8%;
}
.rst-dish-item .rst-d-sales {
    line-height: 1.4em;
}
.rst-dish-item .unavailable {
    margin-right: 25px;
    text-align: center;
}
.lt-ie9 .rst-dish-item .rst-d-act {
    margin-right: 35%;
}
.lt-ie9 .rst-dish-item .unavailable {
    margin-right: 45%;
}
.rst-d-img-wrapper {
    display: block;
    height: 142px;
    margin-bottom: 10px;
    overflow: hidden;
    width: 100%;
}
.rst-d-img {
    display: block;
    height: auto;
    margin: auto;
    width: 100%;
}
.rst-menu-img-list:after {
    clear: both;
    content: "";
    display: table;
}
.rst-menu-img-list + .rst-menu-list {
    border-top: 1px dotted #D3D3D3;
    margin-top: -1px;
}
.rst-dish-img-item {
    -moz-box-sizing: border-box;
    border-color: #E5E9EC;
    border-style: solid;
    border-width: 0 1px 1px 0;
    float: left;
    padding: 24px;
    position: relative;
    width: 33.3333%;
}
.rst-dish-img-item:hover, .rst-dish-img-item.hover {
    background-color: #F1FAFC;
}
.rst-dish-img-item:hover .dish-favor, .rst-dish-img-item.hover .dish-favor {
    display: block;
}
.rst-dish-img-item:hover .rst-d-act, .rst-dish-img-item.hover .rst-d-act {
    background-color: #FDFFCD;
    background-image: linear-gradient(to bottom, #FEFFE2, #FDFFB8);
    border-color: #FEBF40;
}
.rst-dish-img-item:hover .rst-d-act .rst-d-act-add, .rst-dish-img-item.hover .rst-d-act .rst-d-act-add {
    border-right-color: #FEBF40;
}
.rst-dish-img-item:nth-child(3n) {
    border-right-width: 0;
}
.rst-dish-img-item > .dish-favor {
    right: 34px;
    top: 34px;
}
.rst-dish-img-item .rst-d-desc, .rst-dish-img-item .rst-d-origin {
    display: none;
}
.rst-dish-img-item > .rst-d-info {
    width: 60%;
}
.rst-dish-img-item > .rst-d-status {
    display: block;
    margin: 3px 0 5px;
    padding: 0;
    width: 60%;
}
.rst-dish-img-item .rst-d-sales {
    margin-top: 2px;
}
.rst-dish-img-item > .rst-d-action {
    bottom: 72px;
    position: absolute;
    right: 24px;
    width: 70px;
}
.rst-dish-img-item > .rst-d-action > .unavailable {
    margin: 0 0 -10px;
}
.rst-dish-img-item .rst-d-main {
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.rst-dish-img-item .activity-badge {
    left: 24px;
    position: absolute;
    top: 24px;
}
.rst-dish-img-item .rst-d-ordered {
    height: 18px;
    line-height: 18px;
    right: 0;
    top: 47px;
    width: 18px;
}
.rst-menu-toolbar {
    -moz-box-sizing: border-box;
    background-color: #F3F3F3;
    background-image: linear-gradient(to bottom, #F9F9F9, #EEEEEE);
    border-bottom: 1px solid #BBBBBB;
    border-radius: 2px 2px 0 0;
    border-top: 1px solid #DDDDDD;
    color: #333333;
    font-size: 14px;
    height: 42px;
    line-height: 40px;
    padding: 0 16px;
    position: absolute;
    width: 710px;
    z-index: 6;
}
.rst-menu-toolbar.ui_fixed {
    border-radius: 0 0 0 0;
    position: fixed;
    top: 0;
}
.rst-menu-toolbar.ui_fixed .rst-tool-cate {
    opacity: 1;
    visibility: visible;
}
.rst-toolbar-text {
    float: left;
    font-weight: bold;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 300px;
}
.rst-menu-tool {
    float: right;
    font-size: 13px;
}
.rst-tool-toggle {
    -moz-user-select: none;
    margin-right: 5px;
}
.rst-tool-toggle.caret:after {
    border-left-width: 3px;
    border-right-width: 3px;
    border-top-width: 4px;
}
.rst-tool-dropdown {
    background: none repeat scroll 0 0 #FFFFFF;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    right: -242px;
    top: 41px;
    width: 670px;
}
.rst-tool-dropdown:before {
    background: none repeat scroll 0 0 #FFFFFF;
    box-shadow: -2px -2px 1px rgba(0, 0, 0, 0.15);
    content: "";
    height: 8px;
    position: absolute;
    right: 296px;
    top: -4px;
    transform: rotate(45deg);
    width: 8px;
}
.rst-tool-dropdown > .rst-cate-list {
    padding: 10px 12px;
    position: relative;
    z-index: 1;
}
.rst-tool-dropdown .cate-item {
    overflow: hidden;
}
.rst-tool-dropdown .cate-name.ui_active {
    background: none repeat scroll 0 0 #0088CC;
    border-radius: 2px 2px 2px 2px;
    color: #FFFFFF;
    font-size: 12px;
    padding: 3px 4px;
}
.lt-ie9 .rst-tool-dropdown:before {
    display: none;
}
.rst-tool-cate {
    color: #555555;
    display: inline-block;
    opacity: 0;
    padding: 0 5px;
    transition: opacity 0.5s linear 0s;
    visibility: hidden;
}
.rst-tool-cate:after {
    color: #CCCCCC;
    content: "|";
    margin-left: 8px;
}
.rst-tool-item {
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 3px 3px 3px 3px;
    color: #555555;
    display: inline-block;
    line-height: 23px;
    margin-left: 8px;
    padding: 0 5px;
}
.rst-tool-item:hover {
    background-color: #F3F3F3;
    background-image: linear-gradient(to bottom, #FFFFFF, #E8E8E8);
    border-color: #C3C3C3;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}
.rst-tool-item > .glyph-sort {
    color: #BBBBBB;
    font: 11px/1em "eleme";
    margin-left: 1px;
    position: relative;
    top: -2px;
}
.rst-tool-item > .glyph-sort:after {
    content: "";
}
.rst-tool-item.ui_on {
    background-color: #F3F3F3;
    background-image: linear-gradient(to bottom, #FFFFFF, #E8E8E8);
    border-color: #C3C3C3;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}
.rst-tool-item.ui_on > .glyph-sort {
    color: #F09736;
}
.rst-tool-item.ui_desc > .glyph-sort:after {
    content: "";
}
.rst-aside-block {
    background: none repeat scroll 0 0 #FFFFFF;
    border-radius: 2px 2px 2px 2px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
    margin-bottom: 10px;
}
.rst-aside-title {
    border-bottom: 1px solid #DFDFDF;
    font-size: 14px;
    margin: 0;
    padding: 10px 14px;
}
ul.rst-aside-title {
    padding: 0;
}
.rst-aside-favor, .rst-aside-comment {
    -moz-box-sizing: border-box;
    color: #666666;
    float: left;
    font-size: 14px;
    padding: 14px 0;
    text-align: center;
    width: 50%;
}
.rst-aside-favor:hover, .rst-aside-comment:hover {
    background: none repeat scroll 0 0 #F5F5F5;
}
.rst-aside-favor > .glyph, .rst-aside-comment > .glyph {
    font-size: 24px;
    margin-right: 10px;
    vertical-align: middle;
}
.rst-aside-favor:hover > .glyph:before {
    content: "♥";
}
.rst-aside-favor > .glyph {
    color: #EC4545;
}
.rst-aside-comment {
    border-left: 1px solid #E1E1E1;
}
.rst-aside-comment:hover {
    color: #2D8BD2;
}
.rst-aside-comment > .glyph {
    color: #0288DE;
}
.rst-aside-empty {
    color: #666666;
    font-size: 16px;
    padding: 30px 0;
    text-align: center;
}
.rst-aside-empty > .glyph-icon {
    color: #DDDDDD;
    font-size: 40px;
    line-height: 1em;
    margin-right: 5px;
    vertical-align: middle;
}
.rst-aside-more {
    border-top: 1px dotted #D3D3D3;
    margin: 0;
    padding: 14px 0;
    text-align: center;
}
.rst-aside-more > .more {
    color: #333333;
    font-size: 14px;
}
.rst-aside-tab-item {
    float: left;
    margin-bottom: -2px;
    text-align: center;
    width: 50%;
}
.rst-aside-tab-item.ui_active {
    border-bottom: 2px solid #3885E2;
}
.rst-aside-tab-item.ui_active > .rst-aside-tab {
    color: #333333;
}
.rst-aside-tab-item > .rst-aside-tab {
    -moz-box-sizing: border-box;
    color: #666666;
    display: block;
    padding: 12px 20px 17px;
}
.rst-aside-tab-cnt > .rst-aside-menu-list {
    display: none;
}
.rst-aside-tab-cnt > .rst-aside-menu-list.ui_active {
    display: block;
}
.rst-aside-dish-item {
    -moz-box-sizing: border-box;
    border-bottom: 1px dotted #D3D3D3;
    display: table;
    padding: 14px 16px;
    table-layout: fixed;
    width: 100%;
}
.rst-aside-dish-item:after {
    clear: both;
    content: "";
    display: table;
}
.rst-aside-dish-item:hover, .rst-aside-dish-item.hover {
    background-color: #F1FAFC;
}
.rst-aside-dish-item:hover .dish-favor, .rst-aside-dish-item.hover .dish-favor {
    display: block;
}
.rst-aside-dish-item:hover .rst-d-act, .rst-aside-dish-item.hover .rst-d-act {
    background-color: #FDFFCD;
    background-image: linear-gradient(to bottom, #FEFFE2, #FDFFB8);
    border-color: #FEBF40;
}
.rst-aside-dish-item:hover .rst-d-act .rst-d-act-add, .rst-aside-dish-item.hover .rst-d-act .rst-d-act-add {
    border-right-color: #FEBF40;
}
.rst-aside-dish-item:last-of-type {
    border-bottom: medium none;
}
.rst-aside-dish-item > .rst-d-info, .rst-aside-dish-item .rst-d-action {
    display: table-cell;
    vertical-align: middle;
}
.rst-aside-dish-item > .rst-d-info {
    padding-right: 10px;
    width: 68%;
}
.rst-aside-dish-item > .rst-d-action {
    width: 32%;
}
.rst-aside-dish-item > .rst-d-action > .unavailable {
    font-size: 13px;
    margin-right: 10px;
}
.rst-aside-dish-item .rst-d-main {
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
}
.rst-aside-dish-item .rst-d-name {
    font-size: 13px;
}
.rst-aside-dish-item .rst-d-status {
    line-height: 1em;
    margin: 2px 0 0;
    padding: 0;
    width: 80%;
}
.rst-aside-map {
    padding: 6px;
    position: relative;
}
.rst-aside-map > .rst-map-img {
    min-height: 161px;
}
.rst-map-distance {
    background: none repeat scroll 0 0 #FFFFFF;
    border-radius: 2px 2px 2px 2px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    color: #666666;
    font-size: 12px;
    line-height: 18px;
    padding: 5px 10px;
    position: absolute;
    right: 9px;
    top: 9px;
}
.rst-map-distance .distance-value {
    color: #1F90FB;
}
.rst-aside-info {
    border-bottom: 1px solid #EDEDED;
    padding: 20px;
}
.rst-aside-detail {
    padding: 15px 18px;
}
.rst-aside-detail > .rst-map-img {
    -moz-box-sizing: border-box;
    border: 1px solid #E9E9E9;
    padding: 6px;
}
.restaurant-cart {
    bottom: 0;
    height: 38px;
    position: fixed;
    right: 0;
    width: 310px;
    z-index: 10;
}
@media (min-width: 1160px) {
    .restaurant-cart {
        margin-right: -585px;
        right: 50%;
    }
}
.icon-rcart {
    background: url("../../img/rst-sprites.png?v=3") no-repeat scroll 0 -80px rgba(0, 0, 0, 0);
    float: left;
    height: 38px;
    margin-right: 15px;
    width: 38px;
}
.ui_c0 {
    background-color: #2888D1;
}
.ui_c1 {
    background-color: #7047A3;
}
.ui_c2 {
    background-color: #DE4B39;
}
.ui_c3 {
    background-color: #F3D349;
}
.ui_c4 {
    background-color: #6ACE0F;
}
.ui_c5 {
    background-color: #439776;
}
.rcart-dock {
    background: none repeat scroll 0 0 #2C2C2C;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    height: 38px;
    position: relative;
    width: 310px;
    z-index: 3;
}
.lt-ie9 .rcart-dock {
    border-left: 1px solid #AAAAAA;
}
.rcart-info {
    color: #999999;
    float: left;
    font-size: 14px;
    line-height: 38px;
    word-spacing: 6px;
}
.rcart-checkout {
    background-color: #FDDA33;
    background-image: linear-gradient(to bottom, #FFE233, #FBD233);
    border-radius: 4px 4px 4px 4px;
    color: #333333;
    float: right;
    font: bold 14px/28px Arial,"Microsoft Yahei",sans-serif;
    margin: 5px 5px 0 0;
    padding: 0 20px 0 22px;
}
.rcart-checkout:active {
    background: none repeat scroll 0 0 #F9C132;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5) inset;
}
.rcart-checkout.disabled {
    background: none repeat scroll 0 0 #E4E4E4;
    box-shadow: none;
    cursor: default;
}
.rcart-checkout > .glyph-tel {
    margin-right: 5px;
}
.rcart-checkout > .glyph-bracket-right {
    font-size: 14px;
    vertical-align: middle;
}
.rcart-group {
    bottom: 0;
    left: 0;
    position: absolute;
    transition: left 0.5s ease 0s;
    z-index: 2;
}
.rcart-group.ui_open > .rcart-group-toggle {
    display: block;
}
.rcart-group.ui_open > .rcart-group-toggle:before {
    content: ">";
}
.rcart-group-toggle {
    background: none repeat scroll 0 0 #3298DC;
    border-radius: 4px 0 0 4px;
    color: #FFFFFF;
    display: none;
    font-size: 12px;
    left: -16px;
    position: absolute;
    text-align: center;
    top: 0;
    width: 16px;
}
.rcart-group-toggle:before {
    content: "<";
}
.rcart-no {
    color: #FFFFFF;
    cursor: pointer;
    float: left;
    font: 18px/38px arial,sans-serif;
    height: 38px;
    text-align: center;
    text-shadow: 1px 2px 1px rgba(0, 0, 0, 0.3);
    width: 38px;
}
.rcart-no.empty {
    background-image: url("../../img/rst-sprites.png?v=3");
    background-position: -40px -80px;
}
.rcart-list-wrapper {
    background-color: #FFFFFF;
    border-top: 3px solid #2888D1;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.6);
    overflow-x: hidden;
    overflow-y: auto;
    position: absolute;
    top: 0;
    transition: top 0.3s ease 0s;
    width: 310px;
    z-index: 1;
}
.rcart-list-wrapper.ui_c0 {
    border-top-color: #2888D1;
}
.rcart-list-wrapper.ui_c1 {
    border-top-color: #7047A3;
}
.rcart-list-wrapper.ui_c2 {
    border-top-color: #DE4B39;
}
.rcart-list-wrapper.ui_c3 {
    border-top-color: #F3D349;
}
.rcart-list-wrapper.ui_c4 {
    border-top-color: #6ACE0F;
}
.rcart-list-wrapper.ui_c5 {
    border-top-color: #439776;
}
.rcart-title {
    color: #888888;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
    padding: 12px 12px 2px;
}
.rcart-clear {
    color: #2888D1;
    font-size: 12px;
}
.rcart-list {
    -moz-box-sizing: border-box;
    overflow: hidden;
    padding: 4px 12px;
    width: 310px;
}
.lt-ie9 .rcart-list-wrapper {
    -moz-box-sizing: border-box;
    border-left: 1px solid #CCCCCC;
}
.rcart-empty {
    margin: 0;
    padding: 16px;
}
.rcart-dish {
    padding: 12px 4px;
    position: relative;
}
.rcart-dish:after {
    clear: both;
    content: "";
    display: table;
}
.rcart-dish + .rcart-dish {
    border-top: 1px dotted #C7C7C7;
}
.rcart-dish:hover > .rcart-d-del {
    display: block;
}
.rcart-dish:hover .rcart-d-act {
    visibility: visible;
}
.rcart-d-name {
    float: left;
    font-size: 14px;
    margin-right: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 136px;
}
.rcart-d-modify {
    color: #666666;
    float: left;
    text-align: center;
    width: 60px;
}
.rcart-d-act, input.rcart-d-qty {
    border: 1px solid #DDDDDD;
    display: inline-block;
    height: 18px;
    line-height: 18px;
    text-align: center;
    width: 18px;
}
.rcart-d-act {
    background: none repeat scroll 0 0 #F5F5F5;
    color: #999999;
    font-family: "eleme",monospace;
    font-size: 12px;
    vertical-align: bottom;
    visibility: hidden;
}
.rcart-d-act:hover {
    color: #2A89CC;
}
input.rcart-d-qty {
    -moz-box-sizing: content-box;
    border-radius: 0 0 0 0;
    color: #666666;
    font-size: 12px;
    margin: 0 -1px;
    padding: 0;
}
input.rcart-d-qty:focus {
    border-color: #DDDDDD;
    box-shadow: none;
}
.rcart-d-total {
    color: #F17530;
    float: left;
    font-size: 14px;
    margin-left: 10px;
    text-align: right;
    width: 45px;
}
.rcart-d-del {
    color: #999999;
    display: none;
    float: right;
    font-size: 16px;
    position: relative;
    text-align: right;
    top: 1px;
    width: 16px;
}
.rcart-d-del:hover {
    color: #0088CC;
}
.rcart-d-del.loading {
    background: url("/forward/img/restaurant/loader-rcart-del.gif?v=2") no-repeat scroll right center rgba(0, 0, 0, 0);
    display: block;
    text-align: left;
    text-indent: -9999em;
}
.rst-phone-modal {
    width: 440px;
}
.rst-phone-modal .bs-modal-body {
    padding: 25px;
}
.phrst-notice {
    color: #666666;
    font-size: 14px;
    line-height: 1em;
    margin: 0;
}
.phrst-tel {
    font-size: 28px;
    line-height: 1.2em;
    margin: 14px 0;
    text-align: center;
    word-spacing: 12px;
}
.phrst-header {
    border-top: 1px solid #DDDDDD;
    padding: 15px 10px;
}
.phrst-header > .phrst-name {
    font-size: 20px;
}
.phrst-header > .phrst-cost {
    color: #FE6000;
    float: right;
    font-size: 24px;
}
.phrst-header > .phrst-cost:before {
    font-size: 18px;
}
.phrst-cart {
    border-top: 1px solid #DDDDDD;
}
.phrst-cart > .cart-no {
    border-bottom: 1px solid #DDDDDD;
    color: #999999;
    font-size: 13px;
    line-height: 2em;
    margin: 0;
    padding: 0 10px;
}
.phrst-cart-list {
    padding: 10px;
}
.phrst-cart-item {
    font-size: 16px;
    line-height: 2em;
}
.phrst-cart-item:after {
    clear: both;
    content: "";
    display: table;
}
.phrst-cart-item .quantity {
    color: #999999;
    font-weight: bold;
    margin-left: 10px;
}
.phrst-cart-item .symbol-times:before {
    margin-right: 5px;
}
.phrst-cart-item .price {
    float: right;
    font-size: 18px;
}
.phrst-cart-item .symbol-rmb:before {
    font-size: 14px;
}
.rst-mask {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.6);
    display: none;
    height: 100%;
    left: 0;
    overflow-x: hidden;
    overflow-y: scroll;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 30;
}
.lt-ie9 .rst-mask {
    background: none repeat scroll 0 0 #000000;
}
.rst-drawer-wrapper {
    background: none repeat scroll 0 0 #F9F9F9;
    height: 100%;
    left: -400px;
    position: fixed;
    top: 0;
    width: 376px;
    z-index: 31;
}
.rst-drawer-wrapper.ui_slide_in {
    left: 0;
}
.rst-drawer-close {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.3);
    border-radius: 2px 2px 2px 2px;
    color: #FFFFFF;
    font-size: 18px;
    height: 19px;
    left: 335px;
    position: absolute;
    text-align: center;
    top: 17px;
    width: 19px;
    z-index: 1;
}
.lt-ie9 .rst-drawer-close {
    background: none repeat scroll 0 0 #8B7E74;
}
.rst-drawer {
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
    height: 100%;
    overflow-y: auto;
    position: relative;
}
.rst-drawer-header {
    background: url("/forward/img/restaurant/rst-drawer-bg.jpg") no-repeat scroll center center / cover rgba(0, 0, 0, 0);
    height: 182px;
    overflow: hidden;
    position: relative;
    width: 100%;
}
.rst-drawer-dish {
    background-color: rgba(0, 0, 0, 0);
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5));
    bottom: 0;
    color: #FFFFFF;
    max-height: 162px;
    overflow: hidden;
    padding: 5px 20px 10px;
    position: absolute;
    text-shadow: 0 0 6px rgba(0, 0, 0, 0.65);
    width: 336px;
}
.rst-drawer-dish > .dish-name {
    font-size: 24px;
    line-height: 1em;
}
.rst-drawer-dish > .dish-intro {
    font-size: 12px;
}
.rst-drawer-dish .dish-favor {
    border: medium none;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 2px rgba(0, 0, 0, 0.05);
    display: inline-block !important;
    height: 19px;
    margin-left: 10px;
    text-shadow: none;
    top: 7px;
    width: 19px;
}
.lt-ie9 .rst-drawer-dish {
}
.lt-ie9 .rst-drawer-dish .dish-favor {
    border: 1px solid #AAAAAA;
}
.rst-drawer-rating {
    background: none repeat scroll 0 0 #FFFFFF;
    padding: 30px 20px;
}
.rst-drawer-rating > .rating-point {
    margin-right: 30px;
}
.rst-drawer-comment {
    border-top: 1px solid #E2E2E2;
    padding: 0 20px;
}
.rst-drawer-cheader {
    border-bottom: 1px solid #E2E2E2;
    font: 16px/44px Arial,"Microsoft Yahei",sans-serif;
    margin: 0;
}
.rst-drawer-checkbox {
    color: #666666;
    float: right;
    font-size: 12px;
}
.rst-drawer-checkbox > .checkbox {
    margin-right: 6px;
}
.rst-drawer-citem {
    border-bottom: 1px solid #E2E2E2;
    font-size: 12px;
    padding: 15px 3px 5px;
}
.rst-drawer-citem > .cmt-info {
    color: #999999;
    margin-bottom: 5px;
}
.rst-drawer-citem > .cmt-info > .icon-d-star {
    float: right;
}
.rst-drawer-helper {
    color: #999999;
    margin: 0;
    padding: 15px 0;
    text-align: center;
}
.rst-ui-feedback {
    background-color: #FFFFFF;
    border-radius: 3px 0 0 3px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
    color: #333333;
    font-size: 12px;
    line-height: 1.2em;
    padding: 5px 5px 5px 6px;
    position: fixed;
    right: 0;
    top: 200px;
    width: 12px;
}
.rst-feedback-modal {
    width: 500px;
}
.rst-feedback-action {
    margin: 0;
    text-align: right;
}
.rst-feedback-rating {
    padding: 22px 40px 0;
}
.rst-rating-wrapper {
    background: none repeat scroll 0 0 #EDEEF0;
    padding: 20px;
}
.rst-rating-wrapper > .rst-feedback-pager {
    padding: 10px 20px;
}
.rst-rating-column {
    -moz-column-count: 2;
    -moz-column-gap: 12px;
}
.rst-rating-block {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    -moz-box-sizing: border-box;
    background: none repeat scroll 0 0 #FFFFFF;
    border-color: #D7D7D7 #D7D7D7 #C9C9C9;
    border-image: none;
    border-radius: 3px 3px 3px 3px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    margin: 0 0 12px;
    padding: 10px 20px;
    page-break-inside: avoid;
}
.rating-dish {
    color: #999999;
    font-size: 12px;
}
.rating-dish > .icon-d-star {
    float: right;
    margin-top: 2px;
}
.rating-dish-link:hover {
    border-bottom: 1px solid #0088CC;
}
.rating-dish-link > .price {
    margin-left: 5px;
}
.rating-dish-none {
    color: #999999;
}
.rating-info {
    border-top: 1px solid #E5E5E5;
    color: #999999;
    font-size: 12px;
    margin: 0;
    padding-top: 8px;
}
.rating-username {
    margin-right: 10px;
    max-width: 48%;
}
.rst-comment-wrapper {
    padding: 0 20px 20px;
}
.rst-comment-btn {
    border-left: 1px solid #DDDDDD;
    bottom: 2px;
    color: #333333;
    font-size: 14px;
    line-height: 1em;
    padding: 9px 20px;
    position: absolute;
    right: 20px;
}
.rst-comment-btn:hover {
    color: #0088CC;
}
.rst-comment-btn > .plus {
    font-family: monospace;
    font-size: 18px;
    margin-right: 5px;
    vertical-align: bottom;
}
.rst-comment {
    border-bottom: 1px solid #E2E2E2;
    padding: 15px 10px;
}
.rst-comment:after {
    clear: both;
    content: "";
    display: table;
}
.rst-comment > .user-avatar {
    border-radius: 2px 2px 2px 2px;
    float: left;
    height: 40px;
    margin-right: 15px;
    width: 40px;
}
.rst-comment > .user-comment {
    float: left;
    width: 90%;
}
.rst-reply-wrapper {
    background: none repeat scroll 0 0 #F1F1F1;
    border: 1px solid #E2E2E2;
    border-radius: 3px 3px 3px 3px;
    margin-top: 10px;
    padding: 10px 15px 0;
}
.rst-reply {
    margin-bottom: 10px;
}
.rst-reply:after {
    clear: both;
    content: "";
    display: table;
}
.rst-reply > .manager-avatar {
    border-radius: 2px 2px 2px 2px;
    float: left;
    height: 20px;
    margin-right: 10px;
    width: 20px;
}
.rst-reply > .manager-comment {
    float: left;
    width: 93%;
}
.rst-comment-info {
    color: #999999;
    font-size: 12px;
    line-height: 1.5em;
    margin-bottom: 0;
}
.rst-comment-content {
    line-height: 1.5em;
    margin: 0;
}
.rst-comment-modal {
    width: 550px;
}
.rst-comment-textarea {
    height: 110px;
    padding: 4px;
    width: 100%;
}
.rst-comment-captcha {
    margin-left: 10px;
    vertical-align: bottom;
}
.ui_guide_target {
    z-index: 9998;
}
.ui_guide_target.food_view {
    position: relative;
}
.guide-wrapper {
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
}
.guide-step1, .guide-step2, .guide-step3 {
    position: absolute;
}
.guide-img {
    display: block;
}
.guide-dialog {
    -moz-box-sizing: border-box;
    background: none repeat scroll 0 0 #FFFFFF;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    height: 150px;
    padding: 20px 30px;
    position: absolute;
    width: 390px;
}
.guide-caret:before {
    border-left: 10px solid rgba(0, 0, 0, 0);
    border-right: 10px solid rgba(0, 0, 0, 0);
    content: "";
    height: 0;
    position: absolute;
    width: 0;
}
.guide-caret.top:before {
    border-bottom: 10px solid #FFFFFF;
    left: 165px;
    top: -10px;
}
.guide-caret.bottom:before {
    border-top: 10px solid #FFFFFF;
    bottom: -10px;
    left: 120px;
}
.guide-figure {
    float: left;
    margin-right: 20px;
}
.guide-text {
    color: #2888D1;
    font-size: 16px;
    line-height: 2em;
}
.guide-flow {
    bottom: 30px;
    left: 30px;
    position: absolute;
}
.guide-flow > .dot {
    background: none repeat scroll 0 0 #D0D0D0;
    border-radius: 50% 50% 50% 50%;
    float: left;
    height: 8px;
    margin-right: 8px;
    width: 8px;
}
.guide-flow > .dot.current {
    background: none repeat scroll 0 0 #777777;
}
.guide-btn {
    background: none repeat scroll 0 0 #2888D1;
    border-radius: 2px 2px 2px 2px;
    bottom: 20px;
    color: #FFFFFF;
    font-size: 14px;
    padding: 6px 0;
    position: absolute;
    right: 30px;
    text-align: center;
    width: 85px;
}
.guide-step1.ui_none_img {
    margin-left: 45px;
    margin-top: 18px;
}
.guide-step1 > .guide-dialog {
    left: -142px;
    top: 50px;
}
.guide-step1 > .guide-caret.top:before {
    left: 165px;
}
@media (min-width: 1160px) {
    .guide-step1.ui_none_img {
        margin-left: 72px;
    }
}
.guide-step2 > .guide-dialog {
    bottom: 58px;
    right: 120px;
    width: 300px;
}
.guide-step3 {
    margin-left: -1px;
}
.guide-step3 > .guide-dialog {
    left: -90px;
    top: 41px;
}
.guide-step3 > .guide-dialog > .guide-figure {
    margin-top: 6px;
}
.guide-step3 > .guide-caret.top:before {
    left: 135px;
}
@media (min-width: 1160px) {
    .restaurant-menu {
        width: 850px;
    }
    .rst-menu-toolbar {
        width: 850px;
    }
    .rst-tool-dropdown {
        width: 810px;
    }
    .restaurant-aside {
        width: 280px;
    }
    .restaurant-feedback, .rst-tab-sub-wrapper {
        width: 800px;
    }
    .restaurant-information {
        width: 330px;
    }
    .rst-d-img-wrapper {
        height: 176px;
    }
}

.group:after {
    clear: both;
    content: "";
    display: table;
}
