.full-content-wrapper {
  position: relative;
}
/* Set Background Canvas Position*/
#background {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: url("/images/forward/background/background.jpg") repeat-x;
}
#sun {
  position: absolute;
  left: 0px;
  width: 445px;
  height: 356px;
  background: transparent url("/images/forward/background/clouds.png") no-repeat -660px -350px;
}
#moon {
  position: absolute;
  right: 0px;
  width: 274px;
  height: 251px;
  background: transparent url("/images/forward/background/clouds.png") no-repeat -395px -430px;
}
#clouds {
  position: absolute;
  height: 100%;
  width: 100%;
}
#clouds .cloudPiece {
  position: absolute;
}
#clouds #cloudPiece1 {
  top: 220px;
  left: -10px;
  clip: rect(0 296px 190px 0);
}
#clouds #cloudPiece2 {
  top: 450px;
  left: -290px;
  clip: rect(0 515px 144px 300px);
}
#clouds #cloudPiece3 {
  top: 600px;
  right: -300px;
  clip: rect(0 810px 222px 515px);
}
#clouds #cloudPiece4 {
  top: 460px;
  right: 15px;
  clip: rect(0 1085px 144px 810px);
}
#clouds #cloudPiece5 {
  top: 420px;
  left: -370px;
  clip: rect(222px 665px 430px 382px);
}
#clouds #cloudPiece6 {
  top: 50px;
  left: 620px;
  clip: rect(222px 870px 360px 672px);
}
#clouds #cloudPiece7 {
  top: -120px;
  left: -110px;
  clip: rect(195px 385px 415px 0);
}
#clouds #cloudPiece8 {
  top: 70px;
  left: 520px;
  clip: rect(222px 1078px 360px 878px);
}
/* =====  Stars  ===== */
#bg_stars {
  display: none;
  position: absolute;
  height: 100%;
  width: 100%;
}
#bg_stars .bg_star {
  position: absolute;
  background-position: 0 0;
}
#bg_stars .star_type_1_big .bg_star {
  width: 26px;
  height: 32px;
  background-image: url("/images/forward/background/stars1-1.png");
}
#bg_stars .star_type_1_big #star1_1 {
  left: 50px;
  top: 650px;
}
#bg_stars .star_type_1_big #star1_2 {
  left: 100px;
  top: 300px;
}
#bg_stars .star_type_1_big #star1_3 {
  left: 200px;
  top: 450px;
}
#bg_stars .star_type_1_big #star1_4 {
  right: 50px;
  top: 350px;
}
#bg_stars .star_type_1_big #star1_5 {
  right: 150px;
  top: 150px;
}
#bg_stars .star_type_1_big #star1_6 {
  right: 100px;
  top: 750px;
}
#bg_stars .star_type_1_normal .bg_star {
  width: 18px;
  height: 22px;
  background-image: url("/images/forward/background/stars1-2.png");
}
#bg_stars .star_type_1_normal #star1_7 {
  left: 30px;
  top: 900px;
}
#bg_stars .star_type_1_normal #star1_8 {
  left: 90px;
  top: 750px;
}
#bg_stars .star_type_1_normal #star1_9 {
  left: 130px;
  top: 150px;
}
#bg_stars .star_type_1_normal #star1_10 {
  right: 170px;
  top: 620px;
}
#bg_stars .star_type_1_normal #star1_11 {
  right: 30px;
  top: 250px;
}
#bg_stars .star_type_1_normal #star1_12 {
  right: 200px;
  top: 470px;
}
#bg_stars .star_type_1_small .bg_star {
  width: 10px;
  height: 12px;
  background-image: url("/images/forward/background/stars1-3.png");
}
#bg_stars .star_type_1_small #star1_13 {
  left: 80px;
  top: 800px;
}
#bg_stars .star_type_1_small #star1_14 {
  left: 180px;
  top: 350px;
}
#bg_stars .star_type_1_small #star1_15 {
  left: 220px;
  top: 50px;
}
#bg_stars .star_type_1_small #star1_16 {
  right: 160px;
  top: 670px;
}
#bg_stars .star_type_1_small #star1_17 {
  right: 90px;
  top: 150px;
}
#bg_stars .star_type_1_small #star1_18 {
  right: 140px;
  top: 330px;
}
#bg_stars .star_type_2_big .bg_star {
  width: 34px;
  height: 32px;
  background-image: url("/images/forward/background/stars2-1.png");
}
#bg_stars .star_type_2_big #star2_1 {
  left: 150px;
  top: 450px;
}
#bg_stars .star_type_2_big #star2_2 {
  left: 230px;
  top: 220px;
}
#bg_stars .star_type_2_big #star2_3 {
  left: 80px;
  top: 410px;
}
#bg_stars .star_type_2_big #star2_4 {
  right: 250px;
  top: 750px;
}
#bg_stars .star_type_2_big #star2_5 {
  right: 190px;
  top: 410px;
}
#bg_stars .star_type_2_big #star2_6 {
  right: 70px;
  top: 280px;
}
#bg_stars .star_type_2_normal .bg_star {
  width: 23px;
  height: 23px;
  background-image: url("/images/forward/background/stars2-2.png");
}
#bg_stars .star_type_2_normal #star2_7 {
  left: 30px;
  top: 830px;
}
#bg_stars .star_type_2_normal #star2_8 {
  left: 190px;
  top: 350px;
}
#bg_stars .star_type_2_normal #star2_9 {
  left: 230px;
  top: 550px;
}
#bg_stars .star_type_2_normal #star2_10 {
  right: 170px;
  top: 920px;
}
#bg_stars .star_type_2_normal #star2_11 {
  right: 90px;
  top: 450px;
}
#bg_stars .star_type_2_normal #star2_12 {
  right: 270px;
  top: 370px;
}
#bg_stars .star_type_2_small .bg_star {
  width: 14px;
  height: 13px;
  background-image: url("/images/forward/background/stars2-3.png");
}
#bg_stars .star_type_2_small #star2_13 {
  left: 30px;
  top: 740px;
}
#bg_stars .star_type_2_small #star2_14 {
  left: 60px;
  top: 250px;
}
#bg_stars .star_type_2_small #star2_15 {
  left: 100px;
  top: 80px;
}
#bg_stars .star_type_2_small #star2_16 {
  right: 230px;
  top: 370px;
}
#bg_stars .star_type_2_small #star2_17 {
  right: 160px;
  top: 190px;
}
#bg_stars .star_type_2_small #star2_18 {
  right: 300px;
  top: 270px;
}
.day #sun,
.night #moon,
.night #bg_stars {
  display: block;
}
.night #sun,
.day #moon,
.day #bg_stars {
  display: none;
}
