<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:p="http://www.springframework.org/schema/p" xmlns:task="http://www.springframework.org/schema/task"
	xmlns:mongo="http://www.springframework.org/schema/data/mongo"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
						http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
						http://www.springframework.org/schema/context
						http://www.springframework.org/schema/context/spring-context-3.2.xsd
						http://www.springframework.org/schema/tx
						http://www.springframework.org/schema/tx/spring-tx-3.2.xsd
						http://www.springframework.org/schema/aop
						http://www.springframework.org/schema/aop/spring-aop-3.2.xsd
						http://www.springframework.org/schema/task
						http://www.springframework.org/schema/task/spring-task-3.2.xsd
						http://www.springframework.org/schema/data/mongo
						http://www.springframework.org/schema/data/mongo/spring-mongo-1.2.xsd">
	<context:property-placeholder
		location="classpath:/com/fan1tuan.config/mongo.properties" />
   
	<mongo:mongo id="mongo" host="${mongo.host}" port="${mongo.port}">
		<mongo:options connections-per-host="${mongo.connectionsPerHost}"
			connect-timeout="${mongo.connectionTimeout}"
			threads-allowed-to-block-for-connection-multiplier="${mongo.threadsAllowedToBlockForConnectionMultiplier}"
			max-wait-time="${mongo.maxWaitTime}" auto-connect-retry="${mongo.autoConnectRetry}"
			socket-keep-alive="${mongo.socketKeepAlive}" socket-timeout="${mongo.socketTimeout}"
			slave-ok="${mongo.slaveOk}" write-timeout="${mongo.writeTimeout}"
			write-fsync="${mongo.writeFsync}" />
	</mongo:mongo>

	<mongo:db-factory id="mongoDbFactory" dbname="${mongo.dbname}" />

	<bean id="mongoTemplate" class="org.springframework.data.mongodb.core.MongoTemplate">
		<constructor-arg name="mongoDbFactory" ref="mongoDbFactory"/>
		<property name="writeResultChecking" value="EXCEPTION"/>
	</bean>


	<!-- dao files list -->
	<bean id="areaDao" class="com.fan1tuan.general.dao.impl.AreaDao">
		<property name="template" ref="mongoTemplate"/>
	</bean>
	<bean id="dishCommentDao" class="com.fan1tuan.general.dao.impl.DishCommentDao">
		<property name="template" ref="mongoTemplate"/>
	</bean>
	<bean id="dishDao" class="com.fan1tuan.general.dao.impl.DishDao">
		<property name="template" ref="mongoTemplate"/>
	</bean>
	<bean id="dishTasteTagDao" class="com.fan1tuan.general.dao.impl.DishTasteTagDao">
		<property name="template" ref="mongoTemplate"/>
	</bean>
	<bean id="orderDao" class="com.fan1tuan.general.dao.impl.OrderDao">
		<property name="template" ref="mongoTemplate"/>
	</bean>
	<bean id="rankTagDao" class="com.fan1tuan.general.dao.impl.RankTagDao">
		<property name="template" ref="mongoTemplate"/>
	</bean>
	<bean id="shopAffairTagDao" class="com.fan1tuan.general.dao.impl.ShopAffairTagDao">
		<property name="template" ref="mongoTemplate"/>
	</bean>
	<bean id="shopClientDao" class="com.fan1tuan.general.dao.impl.ShopClientDao">
		<property name="template" ref="mongoTemplate"/>
	</bean>
	<bean id="shopDao" class="com.fan1tuan.general.dao.impl.ShopDao">
		<property name="template" ref="mongoTemplate"/>
	</bean>
	<bean id="shoppingCartDao" class="com.fan1tuan.general.dao.impl.ShoppingCartDao">
		<property name="template" ref="mongoTemplate"/>
	</bean>
	<bean id="shopTasteTagDao" class="com.fan1tuan.general.dao.impl.ShopTasteTagDao">
		<property name="template" ref="mongoTemplate"/>
	</bean>
	<bean id="userDao" class="com.fan1tuan.general.dao.impl.UserDao">
		<property name="template" ref="mongoTemplate"/>
	</bean>
	<bean id="expressOrderDao" class="com.fan1tuan.general.dao.impl.ExpressOrderDao">
		<property name="template" ref="mongoTemplate"/>
	</bean>
	<bean id="expressClientDao" class="com.fan1tuan.general.dao.impl.ExpressClientDao">
		<property name="template" ref="mongoTemplate"/>
	</bean>
	<bean id="sequenceDao" class="com.fan1tuan.general.dao.impl.SequenceDao">
		<property name="template" ref="mongoTemplate"/>
	</bean>
	<!-- end dao files list -->

	<!-- generator -->
	<bean id="generator" class="com.fan1tuan.general.util.Generator"
		p:template-ref="mongoTemplate"
	    p:areaDao-ref="areaDao"
	    p:dishCommentDao-ref="dishCommentDao"
	    p:dishDao-ref="dishDao"
	    p:dishTasteTagDao-ref="dishTasteTagDao"
	    p:expressClientDao-ref="expressClientDao"
	    p:expressOrderDao-ref="expressOrderDao"
	    p:orderDao-ref="orderDao"
	    p:rankTagDao-ref="rankTagDao"
	    p:shopAffairTagDao-ref="shopAffairTagDao"
	    p:shopClientDao-ref="shopClientDao"
	    p:shopDao-ref="shopDao"
	    p:shoppingCartDao-ref="shoppingCartDao"
	    p:shopTasteTagDao-ref="shopTasteTagDao"
	    p:userDao-ref="userDao">
	</bean>
	<!-- generator -->

	<!-- clean up -->
	<bean id="cleaner" class="com.fan1tuan.general.util.Cleaner"
	    p:template-ref="mongoTemplate">
	    
	</bean>
	<!-- clean up -->

	<!-- aop config -->
	<bean id="serviceAspect" class="com.fan1tuan.general.business.ServiceAspect">
	</bean>
	<aop:config>
		<aop:pointcut id="booleanReturnCut"
					  expression="execution(public boolean com.fan1tuan..*.business.*Service+.*(..))" />
		<aop:pointcut id="entityObjectReturnCut"
					  expression="execution(public com.fan1tuan.general.pojos.EntityObject+ com.fan1tuan..*.business.*Service+.*(..))" />
		<aop:pointcut id="collectionObjectReturnCut"
					  expression="execution(public java.util.Collection+ com.fan1tuan..*.business.*Service+.*(..))" />

		<aop:aspect ref="serviceAspect">
			<aop:around pointcut-ref="booleanReturnCut"
				method="booleanAroundMethod"/>
			<aop:around pointcut-ref="entityObjectReturnCut"
				method="objectAroundMethod"  />
			<aop:around pointcut-ref="collectionObjectReturnCut"
				method="objectAroundMethod"  />
		</aop:aspect>
	</aop:config>


	<!-- end aop config -->

	<import resource="applicationContext-order.xml" />
	<import resource="applicationContext-rank.xml" />
	<import resource="applicationContext-search.xml" />
	<import resource="applicationContext-shop.xml" />
	<import resource="applicationContext-user.xml" />
	<import resource="applicationContext-life.xml"/>
	<import resource="applicationContext-admin.xml"/>
	<import resource="applicationContext-admin-shop.xml"/>
</beans>
